/* style-voyage.css */

.hero-voyage {
    background: url('https://images.unsplash.com/photo-1476514525535-07fb3b4ae5f1?ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80');
    background-size: cover;
    background-position: center;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.7); /* Ombre pour rendre le texte lisible */
}

footer {
    background-color: #0d6efd; /* Bleu Bootstrap */
    color: white;
    padding: 20px;
    text-align: center;
}